$color_1: #787878;
$color_2: #111111;
$color_3: #999999;
$color_4: #324360;
$color-5: #35c4ce;
$color_6: #989898;
$color_7: #000;
$font-family_1: Quando;
$font-family_2: 'Arial', sans-serif;
$font-family_3: 'FontAwesome';

//mixin 1//
@mixin custom-h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $font-family_2;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $color_2;
    font-size: 26px;
  }

//mixin 2//
@mixin custom-h5 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $font-family_2;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $color_2;
    font-size: 18px;
  }



body {
	font-family: $font-family_1;
	font-size: 15px;
    //variable 1//
	color: $color_1;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	margin-bottom: 25px;
	line-height: 1.6em;
}
a {
	font-weight: 400;
	text-decoration: none;
	//variable 2//
	color: $color_2;
	transition: .20s;
	&:hover {
		color: $color_3;
	}
}
h1 {
	margin-top: 25px;
	margin-bottom: 20px;
    //variable 3//
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.3em;
	word-wrap: break-word;
	color: $color_2;
	font-size: 37px;
}
h2 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.3em;
	word-wrap: break-word;
    //variable 4//
	color: $color_2;
	font-size: 31px;
}
h3 {
	@include custom-h3;
}
h4 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.3em;
	word-wrap: break-word;
	color: $color_2;
	font-size: 21px;
}
h5 {
	@include custom-h5;
}
h6 {
	margin-top: 25px;
	margin-bottom: 20px;
	//variable 5//
	font-family: $font-family_2;
	font-weight: 400;
	line-height: 1.3em;
	word-wrap: break-word;
	color: $color_2;
	font-size: 15px;
}
.container {
	width: 94%;
	margin: 0 auto;
}

//nesting 1//
header {
	font-family: $font-family_2;
	nav {
		ul {
			display: none;
		}
	}
}
//end of nesting 1//

.top-logo {
	width: 200px;
	margin: 20px auto 40px;
}
article {
	margin-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
}
.image-part {
	margin-bottom: 10px;
}

//nesting 2//
.post-title {
	margin-top: 0;
	a {
		color: $color_4;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: 900;
		margin-top: 15px;
		margin-bottom: 15px;
		line-height: 1.3em;
		transition: all .3s ease;
		&:hover {
			color: $color_5;
		}
	}
}
//end of nesting 2//

footer {
	padding: 30px 0;
	text-align: center;
	background: #eaf2ff;
	color: $color_6;
}

//nesting 3//
#footer {
	a {
		color: $color_6;
		&:hover {
			color: $color_2;
		}
	}
}
.footer-logo {
	width: 200px;
	margin: 20px auto;
	text-align: center;
	vertical-align: middle;
}
//nesting 3//

//nesting 4//
.footer-social-links {
	padding: 20px 0;
	line-height: 2em;
	a {
		margin: 0 10px;
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		span {
			display: none;
		}
	}
}
// end of nesting 3//
#footer-copyright {
	padding: 20px 0;
	font-size: 12px;
	color: $color_6;
}
@media only screen and (min-width: 650px) {
	.container {
		width: 90%;
	}

	header {
		nav {
			max-width: 1170px;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 60px;
			ul {
				display: flex;
				ul {
					visibility: hidden;
					opacity: 0;
					display: block;
					position: absolute;
					z-index: 9999;
					left: 0;
					background: #f0f0f0;
					transition: all 0.2s ease-out;
					li {
						border-top: 1px solid #e9e9e9;
						margin: 0;
					}
					a {
						display: block;
						color: $color_2;
						min-width: 175px;
						margin: 0;
						padding: 20px 10px;
						line-height: 1.4em;
						letter-spacing: 1px;
						transition: .35s;
						&:hover {
							background: #ffffff;
							color: $color_7;
						}
					}
				}
				li {
					&:hover {
						ul {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			li {
				margin: 0 15px;
				position: relative;
				line-height: 24px;
			}
			a {
				font-family: $font-family_2;
				color: $color_4;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 900;
				&:hover {
					color: $color_5;
				}
			}
			li.menu-item-has-children {
				>a {
					&::after {
						margin-left: 7px;
						font-family: $font-family_3;
						font-size: 13px;
						color: $color_4;
						content: '\f078';
					}
				}
			}
		}
	}
	.current-menu-item {
		a {
			border-bottom: 2px solid #324360;
		}
	}
	article {
		display: flex;
	}

    //nesting 5//
	.image-part {
		flex: 1;
		overflow: hidden;
		margin-bottom: 0;
		img {
			transition: transform 3.5s ease-in-out;
			&:hover {
				transform: scale(1.5,1.5);
			}
		}
	}
	//end of nesting 5//

	.content-part {
		flex: 1;
		padding-left: 50px;
	}
	.footer-social-links {
		a {
			margin: 0 28px;
			span {
				display: inline;
				font-size: 11px;
			}
		}
		i {
			margin-right: 5px;
		}
	}
}

